<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form id="load-file" action="http://localhost:8080/addImage" method="post" enctype="multipart/form-data">
    <p><input type="file" name="file">
    <p><button type="submit">Adicionar Imagem</button>
</form>
<button>Baixar Imagens</button>
<button>Deletar Imagens</button>


<script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
<script src="script.js"></script>

<style>
    img{
        width: 200px;
        height: 100px;
    }</style>
</body>
</html>